---
interface Props {
	class?: string;
}

const { class: className } = Astro.props;
---

<li class:list={['leading-relaxed marker:text-primary-500 dark:marker:text-primary-300', className]}>
	<slot />
</li>
